.App {
  height: 100vh;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  width: 100vw;
}
.App__container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 8rem;
}
.App__main {
  width: 100%;
  height: 100%;
}
