.RecipeList {
  /* border: 2px solid salmon; */
  flex-basis: 30%;
  font-size: 1.8rem;
}
.RecipeList__ul {
  list-style: none;
  padding: 0;
}
.RecipeList__button {
  background-color: white;
  width: 100%;
}
